.productImg {
    height: 200px;
    width: 200px;
    display: flex;
    margin: auto;
}

.sidebarContent button.checkout {
    width: 100%;
    color: white;
    border: none;
    font-size: 25px;
    font-weight: bold;
    margin: 0px 0px 40px 0px;
}
