.table td {
    vertical-align: middle;
    height: 50px;
    font-size: 20px;
    width: 200px;
    text-align: center;
}

.productImage {
    height: 250px;
}

.title {
    color: #ffa6ca;
    font: 700 normal 20px/22px "Karla";
}

.title svg {
    font-size: 30px;
    display: flex;
    margin: auto;
    cursor: pointer;
}

.checkout {
    border-radius: 0px;
    width: 140px;
    height: 50px;
    border: none;
}

.table td h3 {
    text-align: center;
}

.table textarea {
    height: 150px;
    width: 500px;
    display: flex;
    left: 0px;
    border: 2px solid #ffa6ca;
}

.textareaRow p {
    cursor: pointer;
    text-align: left;
}

.textareaRow p:hover {
    color: #ffa6ca;
}

.subtotal div {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.subtotal a {
    height: 60px;
    width: 200px;
    float: right;
}

.emptycart {
    margin: 100px auto;
    padding: 80px;
    background: rgb(236 221 221);
}

span.emptycart h1 {
    text-align: center;
    margin: 20px auto;
}

span.emptycart a {
    font-weight: 1000;
    text-align: center;
    margin: auto;
    display: flex;
    width: fit-content;
    font-size: 30px;
    color: black;
    border: 1px solid red;
    padding: 10px 30px;
    text-decoration: none;
}

span.emptycart a:hover {
    color: white;
    background-color: black;
    border: none;
}

.table thead th {
    text-align: center;
    font-size: 22px;
}
