.cartTable {
    width: 100%;
    margin-bottom: 20px;
}
.productImage {
    height: 200px;
    margin: 10px;
}

.cartItem {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    place-items: center;
    font-size: 20px;
}

.title,
.cartItem {
    border-bottom: 1px solid gray;
}

.cartItem input {
    width: 100px;
}

.title {
    color: #ffa6ca;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    font: 700 normal 20px/22px 'Karla';
    text-align: center;
    margin: 20px 0px 0px 0px;
}

.name {
    color: #ffa6ca;
    font: 700 normal 20px/22px 'Karla';
    text-align: center;
    font-size: 35px;
}

.title svg {
    font-size: 30px;
    display: flex;
    margin: auto;
    cursor: pointer;
}

.checkout {
    border-radius: 0px;
    width: 140px;
    height: 50px;
    border: none;
}

.cartTable textarea {
    height: 150px;
    width: 500px;
    display: flex;
    left: 0px;
    border: 2px solid #ffa6ca;
}

.textareaRow p {
    cursor: pointer;
    text-align: left;
    font-size: 16px;
    margin-top: 10px;
    font-weight: bold;
    font-style: italic;
}

.textareaRow p:hover {
    color: #ffa6ca;
}

.subtotal div {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.subtotal a {
    height: 60px;
    width: 200px;
    float: right;
}

.emptycart {
    margin: 100px auto;
    padding: 80px;
    background: rgb(236 221 221);
}

span.emptycart h1 {
    text-align: center;
    margin: 20px auto;
}

span.emptycart a {
    font-weight: 1000;
    text-align: center;
    margin: auto;
    display: flex;
    width: fit-content;
    font-size: 30px;
    color: black;
    border: 1px solid red;
    padding: 10px 30px;
    text-decoration: none;
}

span.emptycart a:hover {
    color: white;
    background-color: black;
    border: none;
}

.subtotal h2 {
    font-size: 25px;
    font-weight: bold;
}

.subtotal a button {
    font-size: 25px;
    font-weight: bold;
    width: 100%;
    height: 100%;
}

.name svg {
    cursor: pointer;
}

.calculator {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.price,
.amount {
    display: flex;
    align-items: center;
}

.price img,
.priceAmount img {
    height: 20px;
    width: 20px;
    margin: 0px 3px;
}

@media (max-width: 600px) {
    .price {
        grid-row: 2;
        grid-column: 2;
    }
    .amount {
        display: flex;
        align-items: center;
        grid-row: 2;
        grid-column: 4;
    }
    .cartItem {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr 70px;
    }
    .productImage {
        height: unset;
        margin: 10px;
    }
    .cartImage {
        grid-column: 1/5;
        grid-row: 1;
    }
    .name {
        grid-row: 2;
        grid-column: 1;
    }
    .input {
        grid-column: 3;
        grid-row: 2;
    }
    .calculator {
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr;
    }
    .textareaRow {
        width: 100%;
        margin: 0px auto 10px auto;
    }
    .title {
        display: none;
        margin: 10px 0px;
    }
    .cartTable {
        margin: 20px 0px;
    }
    .cartTable textarea {
        width: 90%;
        margin: auto;
    }
    .subtotal h2 {
        font-size: 20px;
    }

    .subtotal h3 {
        font-size: 20px;
    }
    .subtotal {
        padding-right: 10px;
    }
}
