.table td {
    vertical-align: middle;
    height: 50px;
    font-size: 20px;
    width: 200px;
    text-align: center;
}

.productImage {
    height: 250px;
}

.title {
    color: #ffa6ca;
    font: 700 normal 20px/22px "Karla";
}

.title svg {
    font-size: 30px;
    display: flex;
    margin: auto;
    cursor: pointer;
}

.checkout {
    border-radius: 0px;
    width: 140px;
    height: 50px;
    border: none;
}

.table td h3 {
    text-align: center;
}
