.productImg {
    height: 200px;
    width: 200px;
    display: flex;
    margin: auto;
}

.sidebarContent button.checkout {
    width: 100%;
    color: white;
    border: none;
    font-size: 25px;
    font-weight: bold;
    background-color: green;
    margin: 0px 0px 40px 0px;
}

.price {
    display: flex;
    align-items: center;
}

.price img,
.priceAmount img {
    height: 20px;
    width: 20px;
    margin: 0px 3px;
}

.priceAmount {
    color: black;
    font-size: 20px;
    margin: 20px 0px 0px 0px;
    display: flex;
    align-items: center;
}

@media (max-width: 768px) {
    .priceAmount {
        margin: 10px 0px 0px 0px;
    }
}

@media (max-width: 500px) {
    .sidebarContent button.checkout {
        margin: 0px auto;
        align-items: center;
        justify-content: center;
        width: 200px;
        display: flex;
        margin-bottom: 50px;
    }
}
