.title {
    display: flex;
    align-items: center;
    font-weight: bold;
    margin: 0px 10px 10px 0px;
}

.title span {
    color: white;
    width: 20px;
    height: 20px;
    font-size: 14px;
    text-align: center;
    line-height: 20px;
    background-color: black;
    color: #fff;
    border-radius: 2px;
    text-transform: uppercase;
    margin-right: 10px;
}

.form {
    border: 1px solid black;
    padding: 20px;
    margin: 10px 0px;
    width: 100%;
}

.form svg {
    font-size: 20px;
    color: red;
}

.productImage {
    width: 100px;
    border-radius: 10px;
}
