.row {
    justify-content: space-between;
}

.row h4,
.row h3 {
    color: #ffa6ca;
    font-weight: bold;
    font-size: 25px;
    margin: 10px 0px;
}
.row h5 {
    color: black;
    font-size: 16px;
}
.row h6 {
    color: black;
    font-size: 18px;
    margin: 15px 0px;
}

.row h6 a {
    color: #ffa6ca;
    margin: 0px 5px;
}

.row p {
    color: black;
    font-weight: bold;
    margin: 0px 0px 3px 0px;
    font-size: 18px;
}
.form {
    background-color: #f7f7f7;
    border: 1px solid #d1d1d1;
    padding: 10px;
}

.form button.addToCart {
    background-color: black;
    color: white;
    padding: 8px 20px;
    border: none;
    display: flex;
    margin: 10px auto;
    width: 100%;
    justify-content: center;
    font-weight: bold;
    font-size: 20px;
}

.form label {
    color: black;
    font-weight: bold;
}

.checkbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.checkbox div {
    margin: 0px;
    align-items: center;
    display: flex;
}

.checkbox label {
    margin: 0px;
}
