html,
body {
    padding: 0;
    margin: 0;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #160f0f;
    line-height: 1.6;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.pageslider ul li.slick-active button::before {
    border: 2px solid #ffa6ca;
    color: transparent;
    border-radius: 50%;
    height: 10px;
    background-color: transparent;
    width: 10px;
}

.pageslider ul li button::before {
    background-color: #ffa6ca;
    border-radius: 50%;
    height: 15px;
    width: 15px;
    color: #ffa6ca;
    opacity: 1;
}

.slick-slider.instagramSlider button.slick-arrow {
    z-index: 100;
    margin: 30px;
}

.slick-slider.instagramSlider button.slick-arrow::before {
    color: #ffa6ca;
    font-size: 25px;
}

li {
    list-style: none;
}

@media (max-width: 768px) {
    .pageslider ul li button::before {
        background-color: #ffa6ca;
        border-radius: 50%;
        height: 10px;
        width: 10px;
        margin-top: -5px;
        font-size: 0px;
        color: #ffa6ca;
        opacity: 1;
    }
}


/*font-family: 'Khula', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Parisienne', cursive;*/
/*'Dancing Script', cursive; */
/*font-family: 'Montserrat', sans-serif;*/