html,
body {
    padding: 0;
    margin: 0;
    font-size: 15px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #160f0f;
    line-height: 1.6;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.pageslider ul li.slick-active button::before {
    border: 2px solid #ffa6ca;
    color: transparent;
    border-radius: 50%;
    height: 10px;
    background-color: transparent;
    width: 10px;
}
.pageslider ul li button::before {
    background-color: #ffa6ca;
    border-radius: 50%;
    height: 15px;
    width: 15px;
    color: #ffa6ca;
    opacity: 1;
}

li {
    list-style: none;
}
