.loginModal {
    background-color: white;
    color: black;
}

.loginModal button {
    background-color: rgb(255, 166, 202) !important;
    color: white;
    height: 30px;
    width: 30px;
    font-size: 25px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loginModal h1 {
    font-size: 18px;
}
