.slider {
    height: 100%;
    width: 100%;
    position: relative;
    background-color: #f6f6f6;
    padding: 10px;
    display: flex;
    flex-direction: column;
}
.product {
    width: 100%;
    background-color: white;
    height: 550px;
    display: flex;
    margin: 0px 5px;
    cursor: pointer;
    border-radius: 15px;
    border: 10px solid white;
    flex-direction: column;
}
.productslider div {
    margin: 5px;
}
.productslider {
    margin: 0 auto;
    width: 95%;
}

.productImage {
    height: 100%;
    width: 100%;
    margin: auto !important;
}

.info h6 {
    display: flex;
    align-items: center;
}

.info h6 img {
    height: 20px;
    width: 20px;
    margin: 0px 2px;
}

.productslider button {
    margin: 0px -10px;
    z-index: 1;
}

.productslider button::before {
    font-size: 30px;
    color: black;
}

@media (max-width: 768px) and (min-width: 500px) {
    .productImage {
        height: 400px;
        width: 320px !important;
        margin: auto !important;
    }
    .product {
        height: 450px;
        width: 340px !important;
    }
}

@media (max-width: 500px) and (min-width: 400px) {
    .productImage {
        height: 320px;
        width: 320px !important;
        margin: auto !important;
    }
    .product {
        height: 400px;
        width: 350px !important;
    }
}

@media (max-width: 400px) and (min-width: 340px) {
    .productImage {
        height: 300px;
        width: 290px !important;
        margin: auto !important;
    }
    .product {
        height: 380px;
        width: 320px !important;
    }
}

@media (max-width: 330px) {
    .productslider {
        width: 100%;
    }
    .productslider button {
        margin: 0px 40px;
    }
    .product {
        width: 280px;
        height: 350px;
    }
    .productImage {
        height: 250px;
        width: 250px;
        margin: 2px auto !important;
    }
    .product .info {
        margin: 5px 0px !important;
    }
}
