.product {
    margin: 10px auto;
}

.addToCart {
    color: black;
    border: 2px solid black;
}

.buyNow {
    color: white;
    border: none;
}

.btnGrp {
    display: flex;
    flex-direction: column;
}

.info h4 {
    display: flex;
    align-items: center;
}

.info h4 img {
    height: 30px;
    width: 30px;
    margin: 0px 2px;
}

.btnGrp button {
    margin: 8px 0px;
    border-radius: 0px;
    font-weight: bold;
    width: 400px;
    font-size: 25px;
    height: 60px;
}
.addToCart:hover {
    background: pink;
    color: white;
    border: none;
    font-weight: bold;
}

.buyNow:hover {
    color: white;
    background-color: pink;
    border: none;
}

.btnGrp form {
    margin: 8px 0px;
    border-radius: 0px;
    width: 400px;
    background-color: #f7f7f7;
    border: 1px solid #d1d1d1;
    padding: 20px;
}

.btnGrp form select {
    width: 50%;
    border: 2px solid black;
}

.btnGrp form div {
    align-items: center;
    height: inherit;
    margin-bottom: 0px;
    justify-content: center;
}

.btnGrp form select {
    border-radius: 0px;
}

.btnGrp form label {
    font-size: 14px;
    font-weight: bold;
    margin: 0px 10px;
}

.otherImages {
    margin: 10px;
    border: 2px solid white;
}

@media (max-width: 425px) {
    .btnGrp form,
    .btnGrp button {
        width: 100%;
    }

    .btnGrp form div {
        margin-top: -20px;
        display: flex;
        flex-direction: column;
    }
    .btnGrp form label {
        font-size: 16px;
        margin: 15px 10px;
    }
}

@media (max-width: 768px) {
    .btnGrp .addToCart,
    .btnGrp .buyNow {
        width: 250px;
        margin: 10px auto;
    }
}

@media (min-width: 1800px) {
    .product {
        height: unset;
        width: 90%;
    }
}
@media (max-width: 480px) {
    .product {
        width: 100%;
        height: 100%;
    }
}
