.slider {
    height: 100%;
    width: 100%;
    position: relative;
    background-color: #f6f6f6;
    padding: 10px;
    display: flex;
    flex-direction: column;
}
.product {
    width: 100%;
    background-color: white;
    height: 550px;
    display: flex;
    margin: 0px 5px;
    cursor: pointer;
    border-radius: 15px;
    border: 10px solid white;
    flex-direction: column;
}
.productslider div {
    margin: 5px;
}
.productslider {
    margin: 20px;
}

.productImage {
    height: 100%;
    width: 100%;
    margin: 0px !important;
}

.productslider button {
    margin: 0px 20px;
    z-index: 1;
}

.productslider button::before {
    font-size: 30px;
    color: black;
}
