.slider {
    height: 100%;
    width: 100%;
    position: relative;
    background-color: #f6f6f6;
    padding: 10px;
    display: flex;
    flex-direction: column;
}
.product {
    width: 90%;
    background-color: white;
    height: 550px;
    display: flex;
    margin: 0px 5px;
    cursor: pointer;
    border-radius: 15px;
    border: 10px solid white;
    flex-direction: column;
}
.productslider {
    margin: 20px;
}

.productImage {
    height: 100%;
    width: 100%;
}

.productslider button {
    margin: 0px 20px;
}

.productslider button::before {
    font-size: 30px;
    color: black;
}

@media (max-width: 500px) {
    .product {
        width: 100%;
    }
    .productImage {
        margin-left: -5px;
    }
}
