.selectCurrency {
    font-weight: bold;
    text-align: center;
    width: 200px;
    position: fixed;
    padding: 0px 10px;
    border-top-right-radius: 10px;
    bottom: 150px;
    color: white;
    border-bottom-right-radius: 10px;
    background: black;
    z-index: 100;
}

@media (max-width: 768px) {
    .selectCurrency {
        width: 125px;
        font-size: 14px;
        padding: 6px 10px 0px 10px;
    }
}

@media (max-width: 375px) {
    .selectCurrency label {
        font-size: 12px;
    }
}
