.menus {
    margin: 15px;
}
.menus li {
    font-size: 25px;
}
.submenu {
    margin: 50px 0px 0px 20px;
    font-weight: 100;
}
.submenu li {
    font-size: 18px;
}

@media (max-width: 768px) {
    .menus li {
        font-size: 4.5vw;
        font-weight: 1000;
    }
    .submenu li {
        font-size: 4vw;
    }
}
